{{#if cupom}}
  {{#if valido}}
  <div id="qrcode"></div>
    Leia o c칩digo acima ou <a href="/cupom/{{cupom.codigo}}/check">clique aqui</a>!
    </form>
  {{else}}
  Desculpe, {{cupom.nome}}, mas seu cupom j치 foi utilizado! :( <br>
  C칩digo: {{cupom.codigo}} <br>
  V치lido: {{cupom.valido}} <br>
  {{#with cupom.loja}}
  Loja utilizada: {{endereco}}, {{numero}} - {{bairro}} | {{cidade}}/{{estado}}
  {{/with}}
  {{/if}}
{{else}}
  {{message}}
{{/if}}

<script src="/javascripts//davidshimjs-qrcodejs-04f46c6/qrcode.js"></script>
<script>
  const qrcode = new QRCode("qrcode");
  qrcode.makeCode(document.URL + '/check');
</script>